*, *:after, *:before { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*///////////////REFRESH END////////////////////////
//////////////////////////////////////////////////*/
body {
	width: 100%;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}
.interface {
	width: 90%;
    margin: 1% 0 0 13%;
    display: flex;
}
.function-examples_block {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 20%;
	padding: 20px;
	box-shadow: -5px 0 10px 5px rgba(221, 221, 221, 1);
	border-right: solid 5px #b3b3b3;
}
.function_list  li{
	width: 100%;
	cursor: pointer;
	border: 1px solid #4A90E2;
	border-radius: 4px;
	list-style-type: none;
	margin-bottom: 5px;
	padding: 5px;
}
.instruction {
	margin-top: 50px;
}
.instruction .btn {
	box-shadow: none;
	border: 2px solid #4A90E2;
}

.information {
	width: 900px;
	padding: 20px 15px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.data_input {
	text-align: center;
}
h1 {
	font-size: 1.3em;
	padding-bottom: 20px;
}
.data {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
.input-label {
    display: flex;
    flex-direction: column;
}
input {
	margin: 0 auto;
	text-align: center;
	outline: none;
	border: solid 1px #b3b3b3;
	border-radius: 4px;
	font-size: 1em;
}
.cord_input, .dots_input, 
.fragment_input{
	width: 50px;
}
.func_input {
	width: 250px;
}
.graph_chart {
	margin: 15px 0;
	border: 2px solid #4A90E2;
	border-radius: 4px;
	text-align: center;
}
#curve_chart {
	width: 800px; 
	height: 500px;
	margin: 0 auto;
}
.data_output {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.output-elem {
	display: flex;
	flex-direction: column;
}
.btns-bar {
	width: 10%;
	padding: 123px 0;
}
.btn {
	width: 180px;
	margin-bottom: 10px;
	font-size: 0.9em;
	padding: 15px;
	border: none;
	background-color: #fff;
	outline: none;
	transition: background-color 0.5s, color 0.5s;
	box-shadow: 5px 0 10px 5px rgba(221, 221, 221, 1);
}
.btn:hover {
	background-color: #4A90E2;
	color: #fff;
}

.modal {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal_content {
    position: fixed;
    top: 18%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40rem;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
}
.modal_close {
    position: absolute;
    top: -2.2rem;
    right: -4rem;
    font-size: 3rem;
    color: #ffffff;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.header-instruction {
	text-align: center;
}
.main-instruction {
	margin-left: 15px;
}
.main-instruction li {
	margin-bottom: 10px;
}
.math-func {
	font-style: italic;
}
.warn-text {
	text-transform: uppercase;
	text-decoration: underline;
}

@media(min-width: 1000px) and (max-width: 1400px){
	body {
		font-size: 0.8em;
	}
	.interface {
		margin: 1% 0 0 9%;
	}
	.information{
		width: 800px;
	}
	#curve_chart {
		width: 600px;
	}
	.btn {
		width: 100px;
		padding: 7px;
	}
}