*, *:after, *:before { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*///////////////REFRESH END////////////////////////
//////////////////////////////////////////////////*/
body {
	width: 100%;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}
h3 {
	font-size: 1.2em;
}
.interface {
	width: 70%;
	height: 80%;
	display: flex;
	justify-content: center;
	margin: 100px auto;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.container {
	padding: 50px;
	display: flex;
	flex-direction: column;
}
.information {
	width: 100%;
}
.matrix_wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.interactive_block {
	display: flex;
	flex-direction: column;
}
.btn {
	width: 180px;
	margin-bottom: 10px;
	font-size: 0.9em;
	padding: 15px;
	border: 2px solid #4A90E2;
	background-color: #fff;
	outline: none;
	transition: background-color 0.5s, color 0.5s;
}
.btn:hover {
	background-color: #4A90E2;
	color: #fff;
}
#matrix-size {
	outline: none;
	padding: 10px 0 10px 45px;
	border: 2px solid #0bda51;
	background-color: #fff;
	text-align: center;
	font-size: 0.9em;
}
.matrix_block {
	width: 30%;
}
.matrix {
	word-wrap:break-word;
	width: 400px;
	height: 350px;
	table-layout:fixed;
}
.matrix-cell {
	border: 2px solid rgb(118, 118, 118);
}
.matrix-row {
	width: 100%;
	height: 10%;
}
.matrix-cell input{
 	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 100%;
	overflow: hidden;
	outline: none;
	border: none;
}
.matrix-cell div {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 30%;
	text-align: center;
	overflow: hidden;
}
.cell-result {
	/* background-color: #87c735; */
	background-color: #add65a;
}
.zeydel-res_block {
	text-align: center;
	margin: 50px auto 0px auto;
	width: 300px;
}
.zeydel-res {
	margin-top: 2px;
	max-height: 200px;
	text-align: center;
	
	overflow-y: scroll;
}

@media(min-width: 1000px) and (max-width: 1400px){
	body {
		font-size: 0.8em;
	}
	.btn, #matrix-size {
		width: 150px;
		padding: 7px;
	}
	.interface {
		width: 99%;
		height: 100%;
	}
	.matrix {
		width: 300px;
		height: 250px;
	}
}
